LDAP_SERVER=ldap://192.168.0.1
LDAP_USERNAME=administrator@company.local
LDAP_PASSWORD=ChangeMe123!
BASE_DN=DC=company,DC=local

API_USERNAME=admin
API_PASSWORD=admin123
API_ROLE=admin

JWT_SECRET_KEY=change-this-secret-key
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60


SCAN_SCHEDULE=daily


INACTIVE_DAYS=90
OLD_PASSWORD_DAYS=180